

.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 24px;
}

.overflowhide {
  overflow:hidden;
}

.mapinfo{
  font-size: 15px;
  color: black;
  font-weight: normal;
}
.sitenametext{
  font-size: 25px;
  color: black;
  font-weight: bold;
}
.mapimg{
  text-align:center;
  
}
.percentbox{
  background-color: #dec78a;
  border-radius: 25px;
  
}
.progress-bar-black{
  color:black;
}
.progressbarlabel{
  color:black;
  font-weight: bold;
  text-align: center;
}
.mapimgfile{
  object-fit: none;
}
.img-circle {
  border: 2px solid black;
}